.grid-container-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #71a1d1;
  padding-top: 30px;

  text-align: center;
}

.footList {
  list-style: none;
  text-align: left;
  margin: 0.3em;
}

.iconUl {
  padding: 0;
}

.iconList {
  list-style: none;
  display: inline;
  font-size: 1.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.logo {
  color: #f4fffb;
}

.footLink {
  text-decoration: none;
  color: #f4fffb;
}

.footLink:hover {
  color: #81d0e8;
}

.footList ul {
  padding: 10px;
}

.grid-footer h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#copyright {
  grid-column-start: 1;
  grid-column-end: 4;
  color: #f4fffb;
}

#emailInfoNew {
  padding: 0.5em;
  display: inline-block;
}

#join {
  display: inline-block;
  margin: 1em;
  padding: 5px;
  background-color: #71a1d1;
  border: 2px solid #f4fffb;
  color: #f4fffb;
  transition: 500ms;
}

#join:hover {
  border: 2px solid #81d0e8;
  color: #81d0e8;
  background-color: #f4fffb;
}

.registerContainer {
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .grid-container-footer {
    grid-template-columns: repeat(1, 1fr);
  }

  #copyright {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media only screen and (max-width: 320px) {
  .grid-container-footer {
    overflow: hidden;
  }
}