.login-register-container {
  margin-top: 5em;
  margin-bottom: 5em;
}

.login-form {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h3 {
  text-align: center;
  color: #333;
}

.wrap-alt-login ul {
  margin-top: 1em;
  padding: 0;
  text-align: center;
}

.wrap-alt-login ul li {
  margin: 1em;
  list-style: none;
  display: inline;
}

.wrap-alt-login ul li a {
  text-align: center;
  text-decoration: none;
}

.wrap-alt-login ul li a i {
  font-size: 40px;
}

.login-register-container form {
  padding: 2em;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 7px;
  border: none;
  cursor: pointer;
}

.login-form .btnSubmit {
  font-weight: 600;
  color: #fffdfd;
  background-color: #EFAB49;
}

.login-form .ForgetPwd {
  color: #EFAB49;
  font-weight: 600;
}

.error {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: red;
  margin: -12px 0 0 0;
  font-weight: 600;
}