.grid-container {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f4faf7;
  padding: 10px;
  text-align: center;
}

.subTimg {
  margin: 0;
}

.subDesc {
  margin: 0;
}

#title {
  grid-column-start: 1;
  grid-column-end: 4;
}

/* For Grid Meal */

.grid-container-meal {
  display: grid;
  grid-row-gap: 50px;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f4fffb;
  padding: 50px;
  text-align: center;
}

#title-meal {
  grid-column-start: 1;
  grid-column-end: 5;
  align-self: center;
  justify-self: center;
}

#title-meal-top {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-item {
  margin-bottom: 3em;
}

.grid-meal h4,
.grid-meal h5 {
  margin: 0;
  font-size: large;
}

.grid-meal img {
  width: 220px;
  height: 220px;
  transition: 300ms ease;
}

.grid-meal:hover img {
  transform: scale(1.05);
  filter: brightness(115%);
  cursor: pointer;
}

/* For Main Hero */

.hero-image-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/heroImg.jpg");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f4fffb;
}

.hero-button-main {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  background-color: #71a1d1;
  transition: transform 0.5s;
}

.hero-button-main a {
  text-decoration: none;
  color: #f4fffb;
}

.hero-button-main:hover {
  transform: scale(1.1);
}

.hero-button-main a:hover {
  color: #81d0e8;
}

/* For Meal Hero */

.hero-image-meal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/heroMeal.jpg");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-meal {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.grid-meal p {
  margin: 0;
}


@media only screen and (max-width: 1200px) {
  .grid-container-meal {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  #title-meal-top {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #title-meal {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-row-gap: 50px;
    grid-template-columns: repeat(1, 1fr);
  }

  #title {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #title-meal {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid-container-meal {
    grid-template-columns: repeat(1, 1fr);
  }

  #title-meal-top {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media only screen and (max-width: 320px) {
  .grid-container-meal {
    overflow: hidden;
  }
}