.col-lg-4 img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
}

.col-lg-4 {
    text-align: center;
    align-self: center;
}

.col-lg-6 {
    margin-top: 1em;
    margin-left: 2em;
}

@media (max-width: 1200px) {
    .col-lg-6 {
        margin-left: 5em;
    }
}

@media (max-width: 992px) {
    .col-lg-6 {
        margin-left: 2em;
    }
}