<div class="contain">
    <h1 id="welcomeText"> Welcome to Panda Feed!</h1>
    <h3>Thank you for joining Panda Feed.</h3>
    <h4>You will receive a confirmation email.</h4>
    <a href="/" class="buttonDash">Shop now</a>
</div>